{% extends 'Quiz/main.html' %}

{% block title %}My Quiz{% endblock %}

{% block content %}
    <div class="main">
    {% if data %}
        <h1>My Quiz:)</h1>
        <h2>
            <strong>Category:</strong> {{ data.results.0.category }}<br>
            <strong>Difficulty:</strong> {{ data.results.0.difficulty }}
        </h2>
        <form method="post" action="{% url 'Quiz:submit_answers' %}">
            <ul>    
            {% csrf_token %}
            {% for question in data.results %}
                <li>
                    <strong>Question:</strong> {{ question.question|safe }}<br>
                    {% for answer in question.mixed_answers %}
                        <input type="radio" name="question_{{ forloop.parentloop.counter }}" value="{{ answer|escape }}" id="answer_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                        <label for="answer_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ answer|safe }}</label><br>
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
        <button type="submit">Submit</button>
        </form>
    {% else %}
        <h1>Error fetching trivia data</h1>
    {% endif %}
    </div>
{% endblock %}
